/* src/styles.css */
.user-table {
  border-collapse: collapse;
  width: 100%;
}

.user-table th, .user-table td {
  padding: 8px;
}

.user-table th {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
}
